<!-- Static footer starts -->
<footer id="wb-info" class="footer-spacing">
  <div class="landscape">
    <nav class="container wb-navcurr">
      <h2 class="sr-only">About government</h2>
      <ul class="list-unstyled colcount-sm-2 colcount-md-3">
        <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
        <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
        <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
        <li><a href="https://www.canada.ca/en/news.html">News</a></li>
        <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
        <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
        <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
        <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
        <li><a href="https://open.canada.ca/en/">Open government</a></li>
      </ul>
    </nav>
  </div>
  <div class="brand">
    <div class="container">
      <div class="row">
        <nav class="col-lg-9 col-xl-10 ftr-urlt-lnk">
          <h2 class="sr-only">About this site</h2>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.canada.ca/en/social.html">Social media</a></li>
            <li class="list-inline-item"><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
            <li class="list-inline-item"><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
            <li class="list-inline-item"><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
            <li class="list-inline-item"><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
          </ul>
        </nav>
        <div class="col-6 offset-6 offset-lg-0 col-lg-3 col-xl-2 text-right"> <img src="https://www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada"> </div>
      </div>
    </div>
  </div>
</footer>
<!-- <footer class="footer">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank" translate>app.footer.disclaimer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank" translate>app.footer.privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank" translate>app.footer.accessibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank" translate>app.footer.copyright</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="0" href="http://www2.gov.bc.ca/gov/content/home/contact-us"
               target="_blank" translate>app.footer.contact</a>
        </li>
      </ul>
    </div>
  </nav>
</footer> -->
